body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

p,
span,
li {
  font-weight: 800;
  letter-spacing: 0.08px;
  line-height: 0.9;
  color: #021268;
}

.p1 {
  font-weight:lighter;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #000000;
}
.p2 {
  font-weight: 100;
  font-size: 11px;
  letter-spacing: 0.6px;
  line-height: 1;
  color: #000000;
}

.p3 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 0.5;
  color: #000000;
}

.navbar {
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.logo {
  /* border: 5px solid blue; */
  display: block;
  font-weight: 800;
  margin: 5px 10px;
}

.nav-list {
  /* border: 5px solid blue; */
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-list__item {
  /* border: 5px solid lime; */
  margin: 0 8px;
}

.nav-link {
  color: #212121;
  text-decoration: none;
  font-size: 12px;
}

.nav-link:hover {
  text-decoration: underline;
  color: blue;
}

.bg {
  /* Das Hintergrundbild */
  background-image: url('2.jpg');

  /* Full height */
  min-height: 100%; 
  min-width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Stil für die Menüleiste mit Transparenz */
.menu-bar {
  overflow: hidden;
  background-color: rgba(206, 75, 0, 0.712); /* Dunkler Hintergrund mit Transparenz */
  margin: 0px 0px;
  }

/* Stil für die Menülinks */
.menu-bar a {
  
  padding: 0px 0px;

  }

/* Container-Stil */
.container {
  border: 0;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.container2 {
  background-color: rgba(240, 130, 67, 0.863);
  border: 0;
  width: 80%;
  padding: 10px;
  margin:auto;
  
}





/* Stil für den Footer mit Transparenz */
.footer {
  background-color: rgba(206, 75, 0, 0.712);
  position:relative;
  top: 10px;
  width: 100%;
  color: white; /* Weiße Textfarbe */
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin:0px 0px;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 0.9;
  color: #021168d2;
   
}

a {
  background-image: linear-gradient(
    to right,
    #ffffffee,
    #81bbc5 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
    }

/* Stil für das Input-Feld */
input[type="text"],
input[type="email"],
input[type="telephone"],
input[type="complaint"],
input[type="hidden"]
 {
  color:rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #000000;
  background-color:rgba(206, 75, 0, 0.712);
  border-radius: 25px; /* Erzeugt runde Ecken */
}

/* Stil für das Input-Feld beim Fokussieren */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="telephone"]:focus,
input[type="complaint"]:focus,
input[type="hidden"]:focus 
{
  outline:invert;
  border-color: #a82700;
}

/* Stil für das Input-Feld, wenn es ungültig ist */
input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="telephone"]:invalid {
  border-color: #ffffff;
}

fieldset, form {
  border: none;
  width: 80%;
  padding: 10px;
  margin:auto;
}



.formbutton {
  color: #ffffff;
  background-color:rgb(206, 76, 0);
  width: 100%;
  
      
}
textarea {
  background-color:rgba(206, 75, 0, 0.712);
  width: 100%;
  color: #ffffff;
  }

input::placeholder {
  color: #ffffff; /* Hier kannst du die gewünschte Farbe einstellen */
}
textarea::placeholder {
  color: #ffffff; /* Hier kannst du die gewünschte Farbe einstellen */
}

 
